body {
  background-color: #f2f2f2;
  font-family: Poppins-Bold;
  box-sizing: border-box;
}
.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #009999;
  padding: 10px 30px;
}
.header_title {
  font-size: 26px;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: #009999;
}

.header .button {
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  background-color: #009999;
  cursor: pointer;
}
.header .button p {
  padding: 3px 10px;
  background-color: #009999;
  cursor: pointer;
  margin: 0;
}
.fa-film {
  margin-right: 5px;
}

.search {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 300px;
  max-width: 300px;
  margin: 0 30px;
}

.searchBar input {
  width: 100%;
  flex-grow: 1;
  border-radius: 0;
  padding: 12px 15px;
  border: none;
}

.searchBar div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #009999;
  border: none;
  width: 70px;
  height: 40px;
  margin-left: -1px;
  cursor: pointer;
}
.image_gallery {
  flex-grow: 1;
}
.image_gallery h2 {
  padding-left: 30px;
  color: #009999;
}

.image_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image {
  height: 167px;
  width: 258px;
  margin: 20px;
  cursor: move;
  position: relative;
}

.imageTag {
  position: absolute;
  bottom: 0;
  padding: 5px 15px;
  background-color: #12121280;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #e8e8e8;
  margin: 0;
}
.image img {
  height: 100%;
  width: 100%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
form {
  width: 100%;
}
.form_title {
  font-size: 30px;
  color: #009999;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}
.inputDiv {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
.inputInfo {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #555;
  line-height: 1;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  outline: none;
  border: none;
}
.loginBtn {
  margin-top: 13px;
  margin-bottom: 40px;
  /* background-color: linear-gradient(right, #21d4fd, #b721ff); */
  background-color: #009999;
  border-radius: 25px;
}
.loginBtn button {
  width: 100%;
  border-radius: 25px;
  padding: 7px 10px;
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #009999;
  border: none;
}
.logout {
  color: #fff;
  padding: 8px 10px;
  background-color: #009999;
  cursor: pointer;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff8000;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.danger {
  color: #a02020;
  background-color: #ffe0e0;
  padding: 0.5rem;
  text-align: center;
}
.text-center {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #6b7280;
  margin-top: 50px;
}

@media screen and (max-width: 610px) {
  .image {
    width: 200px;
    height: 167px;
    margin: 15px;
  }
}
@media screen and (max-width: 450px) {
  .form {
    width: 70%;
  }
  .image {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .image_gallery h2 {
    padding-left: 20px;
  }
}
